@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');



:root {
  font-family: 'Outfit', sans-serif;
  background-color: #F2EFE9; /* Warm Stone */
  color: #2C2C2C; /* Deep Charcoal */
}

body {
  margin: 0;
  min-height: 100vh;
}

